#tablero{
    display: grid; 
    grid-template-areas:"turno ganador turno2"
                        "jugador1 boton jugador2"
                        "casilla1 casilla2 casilla3"
                        "casilla4 casilla5 casilla6"  
                        "casilla7 casilla8 casilla9";
    width: 50%; 
    text-align: center;
    color: rgb(161, 0, 0);
    padding-left: 25%;

}
#casilla1, #casilla2,#casilla3,#casilla4, #casilla5,#casilla6, #casilla7,#casilla8, #casilla9{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px;
    width: 100%;
    padding-top: 30%;
    padding-bottom: 30%;
    border-style: solid;
    text-align: center;
    
}
#casilla1{
    grid-area: casilla1;
}
#casilla2{
    grid-area: casilla2;
}
#casilla3{
    grid-area: casilla3;
}
#casilla4{
    grid-area: casilla4;
}
#casilla5{
    grid-area: casilla5;
}
#casilla6{
    grid-area: casilla6;
}
#casilla7{
    grid-area: casilla7;
}
#casilla8{
    grid-area: casilla8;
}
#casilla9{
    grid-area: casilla9;
}
#boton{
    grid-area:boton;

    margin-bottom: 3%;
}
#turno{
    grid-area: turno;
}
.jugador1{
    background-image: url(./imagenes/circulo.png);
}
.jugador2{
    background-image: url(./imagenes/x.png);
}
#jugador1{
    grid-area: jugador1;
}
#jugador2{
    grid-area: jugador2;
}
#turno2{
    grid-area: turno2
}
